<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38384210019-4sd6o1hpot7d5nksd58trgkmabuh988j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38384210019-4sd6o1hpot7d5nksd58trgkmabuh988j</string>
	<key>API_KEY</key>
	<string>AIzaSyC9SFT6veWAmLMhbgz4C8S9lGqH8W3Z2Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>38384210019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.eng.pedromendes.myCoins</string>
	<key>PROJECT_ID</key>
	<string>minhas-moedas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>minhas-moedas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38384210019:ios:33c73452ccf8d9f0972856</string>
</dict>
</plist>